* {
    font-family: "Inter", sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #FFE099 0%, rgba(241, 203, 119, 0) 100vh) no-repeat;
    background-color: #FFFBEB;
    background-attachment: scroll;
}